.Box{
    padding-top: 40vh;
    transition: padding-top 1.5s;
}

.InfoBox{
    width: 70%;
    max-width: 750px;
    margin: auto;
    background-color: rgb(241, 241, 241);
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.NameBox{
    width: 100%;
    max-width: 750px;
    height: 75x;
    margin: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    position: absolute;
}

.Name{
    top: 0;
}

.Text{
    padding-top: 0px;
    padding-bottom: 10px;
    word-wrap: break-word;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-out;
}

#PadButton {
    z-index: 10;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 1em;
    top:  1.25em;
}
